<div class="link">
<a href="/groups" >Dashboard</a> |
<%= link_to "Log out", "/logout", data: { method: :delete} %>
</div>

<h3><%= @group.name %></h3>
<p><%= @group.description %></p>
<% if @user_has_joined %>
  <form action="/groups/<%= @group.id %>/joins/<%= @join_id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete"/>
    <button type="submit">Leave Group</button>
  </form>
  <%else %>
<form action="<%= group_joins_path(@group.id)%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="submit">Join Group</button>
</form>
<% end %>
<br><br>
<p>Created By: <%= @group_owner_text %></p>
<ul>Members:
  <% @users_joined.each do |user| %>
  <li><%= user.first_name%> <%= user.last_name %></li>
    <% end %>
</ul>



